extends layout

block content
  ul(class="nav nav-tabs")
    li(class="active")
      a(href="/index")="You are on the /index page"
    li
      a(href="/protected/index")="Call the /protected/index page"
    li
      a(href="http://cas.test.ynu.edu.cn:8080/authserver/logout?service=http://cas.test.ynu.edu.cn:8080/")="Call the CAS logout"
  h3
    p User: #{user}
    p Attributes: #{attributes}
